[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[dev-packages]
"flake8" = "*"
pylint = "*"
rope = "*"
yapf = "*"
ipython = "*"
python-simplexml = "*"
requests = "*"
aiohttp = "*"
pytest = "*"
pytest-cov = "*"
nose = "*"

[packages]
simplejson = "*"
e1839a8 = {path = ".",editable = true}

[requires]
python_version = "3.5"
