[[source]]
name = "tsinghua"
verify_ssl = true
url = "https://pypi.tuna.tsinghua.edu.cn/simple"

[dev-packages]
"flake8" = "*"
pylint = "*"
rope = "*"
yapf = "*"
ipython = "*"
python-simplexml = "*"
requests = "*"
aiohttp = "*"
pytest = "*"
pytest-cov = "*"
nose = "*"
coverage = "*"

[packages]
sanic = ">=0.8.3"
pytz = "*"
aniso8601 = ">=0.82"

[requires]
python_version = "3.5"
