[[source]]
name = "tsinghua"
verify_ssl = true
url = "https://pypi.tuna.tsinghua.edu.cn/simple"

[dev-packages]
"flake8" = "*"
pylint = "*"
rope = "*"
yapf = "*"
ipython = "*"
python-simplexml = "*"
requests = "*"
aiohttp = "*"
pytest = "*"
pytest-cov = "*"
nose = "*"
codeclimate-test-reporter = "*"

[packages]
e1839a8 = {path = ".",editable = true}

[requires]
python_version = "3.5"
